# Llave de la API de IA de Groq (generar una propia en https://console.groq.com/keys)
# Colocar la llave despues del igual (=) pegado tal cual como lo genera la página
GROQ_API_KEY=

# Puerto del servidor
PORT=8080