.course__card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35%;
    margin: 0.5rem;
    padding: 1rem;
    min-height: 35vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.5rem;
}
.course__card h2{
    font-size: 2rem;
    font-weight: 900;
}
.course__card p{
    font-size: 1.5rem;
    font-weight: 600;
}
.aprende__btn{
    background-color: #282a35;
    font-weight: 600;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4rem;
    width: 200px;
    text-align: center;
    align-self: center;
}
.aprende__btn:hover{
    background-color: #000;
}